h1 {
  font-size: 50px;
  color: white;
}

button {
  height: 100px;
  width: 180px;
  font-size: 25px;
  background-color: #550087;
  color: whitesmoke;
  font-family: Roboto;
  border-radius: 5px;
  border: 2px solid black;
}

button:hover {
  color: whitesmoke;
  background: #9200e0;
  cursor: pointer;
  font-family: Roboto;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  font-family: Roboto;
  background-color: #1e002e;
}
